<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql:///check_a_db?useSSL=false</property>
        <property name="hibernate.connection.username">sany</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <!-- c3p0在我们使用的Hibernate版本中自带，不用下载，直接使用 -->  
	    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>  
	    <property name="hibernate.c3p0.min_size">5</property>  
	    <property name="hibernate.c3p0.max_size">20</property>  
	    <property name="hibernate.c3p0.timeout">1800</property>  
	    <property name="hibernate.c3p0.max_statements">50</property>  
	    <property name="hibernate.c3p0.idle_test_period">30000</property>
	    <property name="hibernate.c3p0.acquire_increment">2</property>
   		<!-- 下面这句很重要，后面有解释 -->  
   		
   		<!-- sayhello -->
   		<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>  
        <mapping resource="entity/CusSecondstore.hbm.xml" />
        <mapping resource="entity/OpLog.hbm.xml" />
        <mapping resource="entity/PayRecord.hbm.xml" />
        <mapping resource="entity/OriOrderBackup.hbm.xml" />
        <mapping resource="entity/ConnectPerson.hbm.xml" />
        <mapping resource="entity/BankInputBackup.hbm.xml" />
        <mapping resource="entity/OriOrder.hbm.xml" />
        <mapping resource="entity/Assistance.hbm.xml" />
        <mapping resource="entity/Agent.hbm.xml" />
        <mapping resource="entity/BankInput.hbm.xml" />
        <mapping resource="entity/CusSdstoreBackup.hbm.xml" />
        <mapping resource="entity/CaresultHistory.hbm.xml" />
        <mapping resource="entity/Backup.hbm.xml" />
        <mapping resource="entity/PayRecordHistory.hbm.xml" />
        <mapping resource="entity/PayRecordCache.hbm.xml" />
    </session-factory>
</hibernate-configuration>
